
<nav>
    <div class="content">
        <a href="/"><img class="nav-logo" src="{{ '/img/mlh_hackcon.svg' | prepend: site.baseurl }}"></a>

        <input type="checkbox" id="mobile-nav-trigger" class="mobile-nav-trigger">
        <label for="mobile-nav-trigger"></label>

        <ul class="links">
          <li><a href="/na">North America</a></li>
          <li><a href="/eu">Europe</a></li>
          <li><a href="/speak">Speak</a></li>
          <li><a href="mailto:team@hackcon.io">Contact</a></li>
        </ul>
    </div>
</nav>
