.button {
  @extend %h4;
  background-color: $blue;
  color: $white;
  padding: 0 0.75rem;
  line-height: 1;
  border-radius: 3px;
  cursor: pointer;

  &.large {
    display: inline-block;
    padding: 1rem;
    width: 11rem;
    max-width: 80%;
  }

  &.close {
    background: $medium-gray;
    margin-top: 2rem;
  }

  &.red {
    background: #C52E02;
  }
}

.button-list {
  li {
    display: inline;

    .button {
      margin: 0.25rem;
    }
  }
}
