.event {
  section .content {
    h2 {
      text-align: center;
      margin-bottom: 25px;
    }

    p { margin-bottom: 15px; }

    a:not(.button) {
      color: #0389D5;
      text-decoration: underline;
    }
  }

  // Logistics
  .about-logistics {
    padding: 3rem 0;
    text-align: left;

    .content .map img {
      border: 1px solid #333;
    }
  }

  // FAQ
  .faqs {
    padding: 3rem 0;

    .faq { margin-bottom: 20px; }

    .faq .wrap {

      h4 { margin-bottom: 10px; }

      p {
        line-height: 1.75;
        margin-bottom: 0;
      }
    }

    .faq:nth-of-type(odd) {
      clear: left;
      padding: 10px 20px 10px 0;
    }

    .faq:nth-of-type(even) {
      padding: 10px 0px 10px 20px;
    }
  }

  // Sponsor & Speakers

  .sponsors, .speakers {
    padding: 3rem 0 5rem;

    h2 {
      color: $gray;
      margin-bottom: 2rem;
      text-align: center;
    }
  }

  .sponsors {
    .event_section {
      margin-top: 4rem;
    }

    .github_section {

      h4 {
        color: #A9A99D;
        margin-bottom: 2.2rem;
        text-align: center;
      }

      img {
        display: block;
        margin: auto;
        max-height: 5rem;
        max-width: 70%;
        padding-top: 1.5rem 0;
      }

    }

    .event_sponsors {
      color: #A9A99D;
      margin: 3rem 0 2.2rem;
      text-align: center;
    }

    .grid {
      text-align: center;

      img {
        margin-bottom: 2rem;
        max-height: 5rem;
        max-width: 70%;

        &.brandmakers {
          padding: 1.5rem 0;
        }
      }
    }
  }

  .speakers {
    .people {
      overflow: hidden;

      li {
        display: inline-block;
        float: left;
        padding: 0 2rem;
        text-align: center;
        width: 33.333333%
      }

      img {
        border-radius: 50%;
        display: block;
        height: 9rem;
        margin: auto;
        margin-bottom: 2rem;
        width: 9rem;
      }

      h4 {
        font-size: 1.5rem;
      }

      h5 {
        color: #AFAFAF;
        font-size: 1.25rem;
        font-weight: 300;
        margin-bottom: 0.5rem;
      }

      h6 {
        color: #487FE8;
        font-size: 1.25rem;
      }
    }
  }

  @include media-query($tablet-landscape) {
    .speakers {
      .people li {
        margin-bottom: 4rem;
        width: 100%;
      }
    }
  }

  @include media-query($phone-landscape) {
    // ALL
    section .content {
      text-align: center;

      h2 {
        margin-bottom: 10px;
      }
    }

    // Logistics
    .about-logistics {
      .content {
        text-align: center;

        .addresses {
          text-align: left;
        }

        .map {
          display: block;
          padding: 20px 0 10px;
        }
      }
    }

    // FAQ
    .faqs .faq {
      padding: 10px !important;
    }
  }
}
