.hero {
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: left center;
  color: $white;
  text-align: center;
  padding: 12rem 0;

  &.eu {
    background-image: url('../img/hero-eindhoven.jpg') !important;
    .button.large.register {
      background: #C52E02;
    }
    
  }

  &.na {
    .button.large.register {
      background: #C52E02;
    }
    
  }


  .content {
    max-width: 40rem;
  }

  .date, .location {
    font-weight: $bold;
    width: auto;
    display: inline-block;
  }

  .date {
    text-align: right;
  }

  .location {
    text-align: left;
  }

  .hero-logo {
    margin-bottom: 1rem;
    max-width: 65%;

  }

  .hero-hosted {
    margin-bottom: 1rem;
    height: 1.5rem;
  }

  .details {
    margin: 1.5rem 0;
  }

  .divider {
    padding: 0 0.5rem;
  }

  .select-region {
    li {
      display: inline;

      .na-btn {
        margin-right: 5px;
        background: #C52E02;
      }

      .eu-btn {
        margin-left: 5px;
      }
    }
  }
}

.hero.speak {
  background-image: url('../img/hero_alt.jpg');
  background-size: cover;
  background-position: left center;
  color: $white;
  text-align: center;
  padding: 19rem 0;
}

.logistics .hero {
  background-image: url('../img/hero-logistics.jpg');
}

@include media-query($phone-landscape) {
  .hero {
    padding: 12rem 0 8rem;

    &.speak {
      padding: 12rem 0 8rem;
    }

    .date {
      width: auto;
    }

    .select-region {
      li {
        .na-btn {
          margin-right: 0px;
          margin-bottom: 1rem;
        }
        .eu-btn {
          margin-left: 0px;
        }

      }
      
    }
  }
}
