.hero {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center center;
    color: $white;
    text-align: center;
    padding: 12rem 0;

    .date {
        font-weight: $bold;
    }

    .hero-logo {
        margin-bottom: 1rem;
        height: 2.5rem;
    }

    .button {
        margin-top: 3rem;
    }
}

