.hero {
  background-image: url('../img/hero/hero-default.jpg');
  background-size: cover;
  background-position: left center;
  color: $white;
  padding: 12rem 0;
  text-align: center;

  .content {
    max-width: 40rem;
  }

  .date, .location {
    display: inline-block;
    font-weight: $bold;
    width: 10rem;
  }

  .date {
    text-align: right;
  }

  .location {
    text-align: left;
  }

  .hero-logo {
    margin-bottom: 1rem;
    max-width: 65%;
  }

  .hero-hosted {
    height: 1.5rem;
    margin-bottom: 1rem;
  }

  .details {
    margin: 1.5rem 0;
  }

  .divider {
    padding: 0 0.5rem;
  }
}

.hero.speak {
  background-image: url('../img/hero/hero-speak.jpg');
  padding: 19rem 0;
}
