.landing-page {
  background: url('../img/hero-eindhoven.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;

  .eu-registration {
    position: absolute;
    text-align: center;
    top: 31rem;
    width: 100%;

    .landing-logo {
      margin-bottom: 1rem;
      max-width: 65%;
    }

    h1 {
      color: $white;
      line-height: 1;
    }

    .details {
      margin: 1.5rem 0;
      color: $white;
    }

    .button.large.register {
      background: #C52E02;
    }

  }

  footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

@include media-query($phone-landscape) {

  .landing-page {

    .eu-registration {
      top: 12rem;
    }

  }
}

@include media-query($tablet-landscape) {

  .landing-page {

    .eu-registration {
      top: 21rem;
    }

  }
}

