.location {
  text-align: center;

  .button {
    margin-top: 1.5rem;
  }
}

.boulder {
  background-image: url('../img/boulder.jpg');
  background-size: cover;
  background-position: top center;
  height: 15rem;
  width: 100%;
}
