.about-logistics {
    padding: 3rem 0;
    text-align: left;

    .content {
      h2 {
        margin-bottom: 25px;
        text-align: center;
        
      }

      p { 
        margin-bottom: 15px; 
      }

      a {
        color: #0389D5;
        text-decoration: underline;
      }

      .map img {
        border: 1px solid #333;
      }
    }

    .faq { 
      margin-bottom: 20px; 
    }

    .faq .wrap {

      h4 { 
        margin-bottom: 10px; 
      }

      p {
        line-height: 1.75;
        margin-bottom: 0;
      }
    }

    .faq:nth-of-type(odd) {
      clear: left;
      padding: 10px 20px 10px 0;
    }

    .faq:nth-of-type(even) {
      padding: 10px 0px 10px 20px;
    }

    .select-region {
      li {
        display: inline;

        .na-btn {
          background: #C52E02;
          margin-right: 0.5rem;
        }

        .eu-btn {
          margin-left: 0.5rem;
        }
      }
    }

    

    @include media-query($phone-landscape) {
      .content {
        text-align: center;

        h2 {
          margin-bottom: 10px;
        }


        .addresses {
          text-align: left;
        }

        .map {
          display: block;
          padding: 20px 0 10px;
        }

        .faq {
          padding: 10px;
        }
      }
    }
}
