$nav-line-height: 1.5rem;
$nav-height: ($nav-line-height * 3);

nav {
  color: $white;
  height: $nav-height;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  .nav-logo {
    float: left;
    height: $nav-line-height;
    margin-bottom: $nav-line-height;
    margin-left: $nav-line-height;
    margin-top: $nav-line-height;
    padding: 0;
  }

  .links {
    float: right;
    margin: $nav-line-height;

    a {
      @extend %h4;

      display: inline-block;
      height: $nav-line-height;
      line-height: $nav-line-height;
      vertical-align: baseline;
    }

    a:hover {
      border-bottom: 2px solid $red;
    }


    li {
      display: inline-block;
      float: left;
      line-height: $nav-line-height;
      margin-left: $nav-line-height * 2;
    }
  }


  .mobile-navigation, .mobile-nav-trigger, label[for="mobile-nav-trigger"] {
    display: none;
  }

}


@include media-query($tablet-portrait) {

  nav {
    background: $dark-gray;
    display: block !important;
    height: 4.5rem;
    z-index: 1;
    height: $nav-height;


    .content {
      width: 100%;
    }

    .mobile-nav-trigger {
      clip: rect(0, 0, 0, 0);
      display: block !important;
      position: absolute;
    }

    label[for="mobile-nav-trigger"] {
      cursor: pointer;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect fill='#ffffff' width='30' height='5'/><rect fill='#ffffff' y='24' width='30' height='5'/><rect fill='#ffffff' y='12' width='30' height='5'/></svg>");
      background-size: contain;
      display: block !important;
      height: 1.5rem;
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
      width: 1.5rem;
      z-index: 2;
    }

    .links {
      clear: both;
      display: none !important;
      float: none;
      margin: 0;
    }

    .mobile-nav-trigger:checked ~ ul {
      display: block !important;
    }

    .links li {
      background: #000000;
      display: block;
      float: none;
      line-height: $nav-line-height;
      margin: 0;
      padding: $nav-line-height;

      &:hover {
        background: $dark-gray;
      }

      a, a:hover {
        color: $white;
        border-bottom: none;
        display: block;
        font-weight: 600;
        padding-left: 1rem;
        height: 100%;
        line-height: 4rem;
      }

      &.selected a, a:hover {
        color: white;
        border-bottom: none;
      }
    }

  }
}

@media screen and (min-width: 769px) {
  nav .links {
    top: 1.5rem;
  }
}
