.schedule {
  background: #102026;
  padding: 5rem 0;

  h2 {
    text-align: center;
    color: #fff;
  }

  .timeline_wrap {
    overflow: hidden;
    margin-top: 2rem;

    .day {
      float: left;
      width: 33.333333%;
      padding: 1.5rem;

      h3 {
        color: #fff;
        margin-bottom: 1.5rem;
        background: #dc3333;
        padding: 1.2rem;
      }

      li {
        margin-bottom: 1.2rem;
      }
    }

    .time_block {
      float: right;
      color: #DEDE80;
    }

    .block_title {
      font-size: 1.5rem;
      color: #fff;
    }

    .block_description {
      color: #8C8C8C;
    }
  }
}

@include media-query($phone-landscape) {
  .schedule {
    .timeline_wrap {
      .day {
        margin-bottom: 1.5rem;
        width: 100%;
      }
    }
    
  }
}