.schedule {
  background: #102026;
  padding: 4rem 0;

  h2 {
    color: #fff;
    text-align: center;
  }

  .timeline_wrap {
    margin-top: 2rem;
    overflow: hidden;

    .day {
      float: left;
      padding: 1.5rem;
      width: 33.333333%;

      h3 {
        background: #dc3333;
        color: #fff;
        margin-bottom: 1.5rem;
        padding: 1.2rem;
      }

      li {
        margin-bottom: 0.5rem;
      }
    }

    .time_block {
      color: #DEDE80;
      float: right;
      font-size: 0.875rem;
      line-height: 1.125rem;
      padding-left: 0.5rem;
      text-align: right;
    }

    .block_title {
      color: #fff;
      font-size: 1rem;
      line-height: 1.125rem;
      text-align: left;
    }

    .block_description {
      color: #8C8C8C;
      font-size: 0.875rem;
      line-height: 1.5rem;
      text-align: left;
    }
  }
}

@include media-query($tablet-portrait) {
  .schedule {
    .timeline_wrap {
      .day {
        margin-bottom: 1.5rem;
        width: 100%;
      }
    }
  }
}
