.schedule {
  background: #102026;
  padding: 4rem 0;

  h2 {
    color: #fff;
    text-align: center;  
  }

  .timeline_wrap {
    margin-top: 2rem;
    overflow: hidden;
    
    .day {
      float: left;
      padding: 1.5rem;
      width: 33.333333%;

      h3 {
        background: #dc3333;
        color: #fff;
        margin-bottom: 1.5rem;
        padding: 1.2rem;
      }

      li {
        margin-bottom: 1.2rem;
      }
    }

    .time_block {
      color: #DEDE80;
      float: right; 
    }

    .block_title {
      color: #fff;
      font-size: 1.5rem;
    }

    .block_description {
      color: #8C8C8C;
    }
  }
}

@include media-query($phone-landscape) {
  .schedule {
    .timeline_wrap {
      .day {
        margin-bottom: 1.5rem;
        width: 100%;
      }
    }
    
  }
}