.sign-up {
  padding: 3rem 0;
  background-image: url(../img/sign_up_hero.jpg);
  background-size: cover;
  background-position: center center;

  form {
    @extend .content;
    max-width: 25rem;
  }

  h2 {
    color: $white;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  
  input[type="email"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    padding: 1rem;
    border-radius: 3px;
    border: 1px solid $white;
    outline: none;
    padding-right: 7rem;
  }

  input[type="submit"] {
    @extend .button;
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    outline: 0;
    border: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

    .select-region {

    li {
      display: inline;

      .na-btn {
        margin-right: 5px;
        background: #C52E02;
      }

      .eu-btn {
        margin-left: 5px;
      }
    }
  }
}

@include media-query($phone-landscape) {

  .sign-up {
    background-position: top left;

    h2 {
      padding: 0.5rem;
      font-size: 1.5rem;
    }

    .select-region {
      li {
        .na-btn {
          margin-right: 0;
          margin-bottom: 1rem;
        }
        .eu-btn {
          margin-left: 0;
        }

      }
      
    }
  }
}
