.sponsors {
   padding: 6rem 0 5rem;

    h2 {
      color: $gray;
      margin-bottom: 2rem;
      text-align: center;
    }

    .event_section {
      margin-top: 4rem;
    }

    .github_section {

      h4 {
        color: #A9A99D;
        margin-bottom: 2.2rem;
        text-align: center;
      }

      img {
        display: block;
        margin: auto;
        max-width: 36%;
        padding-top: 1.5rem 0;
      }

    }

    .event_sponsors {
      color: #A9A99D;
      margin-bottom: 2.2rem;
      text-align: center;
    }

    .items-1 {
      overflow: hidden;
      margin-bottom: 3.5rem;

      li {
        text-align: center;

        img {
          max-width: 80%;
        }

        .potbelly {
          max-width: 40%;
        }

        .hightech {
          max-width: 60%;
        }

      }
    }

    .items-2 {
      overflow: hidden;
      margin-bottom: 3.5rem;

      li {
        display: inline-block;
        float: left;
        text-align: center;
        width: 50%;

        img {
          max-width: 80%;
        }

        .brandmakers {
          margin-top: 13px;
        }
      }
    }

    .items-3 {
      overflow: hidden;
      margin-bottom: 3.5rem;

      li {
        display: inline-block;
        float: left;
        text-align: center;
        width: 33.333%;

        img {
          max-width: 80%;
        }

        .microsoft, .devpost {
          margin-top: 3rem;
        }

      }
    }

    &.special-events{
      .event_section {
        margin-top: 2rem;
      }
    }
}

@include media-query($phone-landscape) {
  .sponsors {
    .items-2 {
      margin-bottom: 0;

      li {
        margin-bottom: 1.5rem;
        text-align: center;
        width: 100%;
      }
    }

    .items-3 {
      margin-bottom: 0;

      li {
        margin-bottom: 1.5rem;
        text-align: center;
        width: 100%;
      }
    }

    .items-1 {

      li {
        .potbelly {
          max-width: 60%;
        }
      }
    }
  }
}
