$card-spacing: 0.5rem;

.testimonials {
  padding: 3rem 0 5rem;

  h2 {
    color: $gray;
    margin-bottom: 2rem;
    text-align: center;
  }

  .cards {
    @include clearfix;
    margin-left: -$card-spacing;
    margin-right: -$card-spacing;

    li {
      box-sizing: border-box;
      display: inline-block;
      float: left;
      padding: 0 $card-spacing;
      width: 33.333333%;
    }

  }
  .card {
    border: 1px solid $light-gray;
    border-radius: 3px;
    min-height: 15rem;
    padding: (2 * $card-spacing);

    p {
      color: $medium-gray;
    }

    .person {
      bottom: -3rem;
      height: 2rem;
      position: absolute;

      img {
        border-radius: 50%;
        height: 2rem;
        left: 0;
        position: absolute;
        width: 2rem;
      }

      .text {
        padding: 0.25rem 0 0.25rem 3rem;
      }
    }
  }
}

@include media-query($phone-landscape) {
  .testimonials {
    .cards li {
      width: 100%;
      margin-bottom: 1rem;
    }

    .card {
      min-height: auto;

      .person {
        bottom: auto;
        margin-top: 1rem;
        position: relative;
      }
    }
  }
}
