---
layout: default
custom_class: eu-landing
hero_buttons:
 - text: "Register"
   class: "register"
   link: "https://ti.to/mlh/mlh-hackcon-eu-2016"
---
{% include navbar.html %}

{% include hero.html
  class="eu"
  logo="/img/logos/mlh-hackcon-eu-logo.png"
  cta="Joining us at Hackcon EU? Here's your survival guide!"
  details="<span class='date'>September 2 &mdash; 4</span> <span class='divider'>|</span> <span class='location'>Eindoven, Netherlands </span>"
  buttons=page.hero_buttons
%}

<section class="about-logistics">
  <div class="content">
    <div class="grid">
      <h2>Where is Hackcon EU?</h2>
      <div class="col-1-2 col-1-mobile">
        <p>Hackcon EU will be taking place in the <a href="http://www.hightechcampus.com/conference-center">Conference Center</a> of High Tech Campus Eindhoven who have kindly offered us the space. Once a Philips factory, <a href="http://www.inntelhotelsarteindhoven.nl/en/Home.html">Inntel Hotels Art Eindhoven</a> is a 4 star Art Hotel conveniently situated in the center of Eindhoven within walking distance of the Central Station. All rooms are spacious and individually designed and there is free WIFI throughout the hotel.</p>
        <p>The hotel is only a 20 minute bus ride from Eindhoven Airport (EIN). Get either bus 400 or 401 and get off at Eindhoven Piazza. The hotel is a 3 minute walk from there!</p>
        <p>You can also reach Eindhoven Central Station by train from <strong>Amsterdam Airport Schiphol</strong> (AMS, 1,5 hours) <strong>Rotterdam The Hague Airport</strong> (RTM, 2 hours by train), and <strong>Maastricht Aachen Airport</strong> (MST, 2 hours by train) or <strong>by train from other European destinations.</strong></p>
      </div>

      <div class="col-1-2 col-1-mobile">
        <a class="map" href="https://www.google.com/maps/place/Conference+Center+High+Tech+Campus/@51.410432,5.454771,17z/data=!3m1!4b1!4m5!3m4!1s0x47c6d9bf6ae942cd:0x3abd11634c80f8fe!8m2!3d51.410432!4d5.456965" target="_blank">
          <img src="http://maps.googleapis.com/maps/api/staticmap?center=Oerle,Netherlands%2080482&zoom=11&scale=1&size=600x300&maptype=roadmap&format=jpg&visual_refresh=true&markers=size:mid|color:red|label:A|High%20Tech%20Campus%201,%205656%20Eindhoven,%20Netherlands%2080511&markers=size:mid|color:red|label:B|Inntel%20Hotels%20Art%20Eindhoven,%20Lichttoren%2022,%205611%20BJ%20Eindhoven,%20Netherlands" />
        </a>

        <div class="addresses grid-pad">
          <div class="col-1-2">
            <h4>(A) Conference Center</h4>
            <address>High Tech Campus 1<br/>5656 Eindhoven, Netherlands</address>
            <p><a href="http://www.hightechcampus.com/conference-center">Website</a> | <a href="https://www.google.com/maps/place/Conference+Center+High+Tech+Campus/@51.410432,5.454771,17z/data=!3m1!4b1!4m5!3m4!1s0x47c6d9bf6ae942cd:0x3abd11634c80f8fe!8m2!3d51.410432!4d5.456965">Map</a></p>
          </div>
          <div class="col-1-2">
            <h4>(B) Inntel Hotels Art Eindhoven</h4>
            <address>Lichttoren 22<br/>5611 BJ Eindhoven, Netherlands</address>
            <p><a href="https://www.google.com/maps/place/Inntel+Hotels+Art+Eindhoven/@51.4192236,5.4292546,13.18z/data=!4m21!1m15!4m14!1m6!1m2!1s0x47c6d9bf1335b6e5:0x7a1c05868b1ac317!2sHigh+Tech+Campus,+Eindhoven,+Netherlands!2m2!1d5.4591973!2d51.4104963!1m6!1m2!1s0x47c6d91ad91932e3:0x1e7127ed0bf6fdca!2sLichttoren+22,+Inntel+Hotels+Art+Eindhoven,+5611+BJ+Eindhoven,+Netherlands!2m2!1d5.4738378!2d51.4407934!3m4!1s0x47c6d91ad91932e3:0x1e7127ed0bf6fdca!8m2!3d51.4407934!4d5.4738378">Map</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="image-grid">
    <ul class="images">
        <li><img src="{{ '/img/picture9.jpg' | prepend: site.baseurl }}"></li>
        <li><img src="{{ '/img/picture10.jpg' | prepend: site.baseurl }}"></li>
        <li><img src="{{ '/img/picture11.jpg' | prepend: site.baseurl }}"></li>
        <li><img src="{{ '/img/picture12.jpg' | prepend: site.baseurl }}"></li>
    </ul>
</section>

<section class="sponsors special-events">
    <div class="content">
      <h2>Special Thanks to Our Sponsors</h2>
      <div class="event_section">
        <h4 class="event_sponsors">Event Sponsors</h4>
        <ul class="items-1">
            <li><a href="http://www.hightechcampus.com/"><img class="hightech" src="{{ '/img/hightechcampus.png' | prepend: site.baseurl }}"></a></li>
        </ul>
      </div> 
    </div>
</section>

{% include cta_reminder_section.html cta="Reserve your spot today!" buttons=page.hero_buttons %}

<section class="about-logistics faqs">
    <div class="content">
      <h2>Frequently Asked Questions</h2>
      <div class="grid">
        <div class="faq col-1-2 col-1-mobile">
          <div class="wrap">
            <h4>Who can attend Hackcon EU?</h4>
            <p>Existing or future student hackathon organisers. There are also limited professional hackathon organizer tickets. If that sounds like you, we would love to have you at Hackcon. </p>
          </div>
        </div>

        <div class="faq col-1-2 col-1-mobile">
          <div class="wrap">
            <h4>What is included in a Hackcon EU ticket?</h4>
            <p>Unlike most professional conferences, Hackcon EU tickets are all-inclusive. Just get yourself to Eindhoven and we’ll take care of the rest! Tickets cover two nights of housing, six meals, snacks, drinks, swag, a fun group activity, transportation between the hotel and venue, and the conference itself.</p>
          </div>
        </div>

        <div class="faq col-1-2 col-1-mobile">
          <div class="wrap">
            <h4>How much does a Hackcon EU ticket cost?</h4>
            <p>Hackcon tickets are heavily subsidized for students. An early bird ticket, available until the end of June, costs $90 USD for students, recent graduates and non-student MLH Member Event organizers. Tickets will then cost $100 USD until the end of July and $110 until the start of the conference. If you cannot afford a ticket, scholarships are available. Professional tickets cost $1,000.</p>
          </div>
        </div>

        <div class="faq col-1-2 col-1-mobile">
          <div class="wrap">
            <h4>Can I have a discount?</h4>
            <p>Sure! Are you joining us for Hackcon IV at Colorado? Then you are entitled to 50% off your Hackcon EU ticket! Also, if a minimum of 3 people from your hackathon join you will receive a 10% discount on all tickets!</p>
          </div>
        </div>

        <div class="faq col-1-2 col-1-mobile">
          <div class="wrap">
            <h4>Will you give out scholarships?</h4>
            <p>A limited number of scholarships is available. If you would like to apply for a scholarship you must put together a 1 minute video introducing yourself, why you want to go to Hackcon EU, and why you should receive the scholarship and send it to <a href="mailto:hackcon@mlh.io"></a>hackcon@mlh.io.</p>
          </div>
        </div>

        <div class="faq col-1-2 col-1-mobile">
          <div class="wrap">
            <h4>How do I get to Hackcon EU?</h4>
            <p>The closest airport to Hackcon EU is Eindhoven Airport (EIN). You can also fly into Amsterdam Airport Schiphol (AMS, 1,5 hours by train), Rotterdam The Hague Airport (RTM, 2 hours by train), and Maastricht Aachen Airport (MST, 2 hours by train). Eindhoven is also reachable by train from Germany, Belgium and France. <a href="http://www.inntelhotelsarteindhoven.nl/en/Home.html">Inntel Hotels Art Eindhoven</a> is only a 3 minute walk from the Central Station.</p>
          </div>
        </div>

        <div class="faq col-1-2 col-1-mobile">
          <div class="wrap">
            <h4>When should I arrive/depart?</h4>
            <p>You should aim to be at <a href="http://www.inntelhotelsarteindhoven.nl/en/Home.html">Inntel Hotels Art Eindhoven</a> by 6pm on Friday September 2. All the attendees will be staying there and we will have a fun evening activity planned! The conference will begin on Saturday morning and end on Sunday afternoon. You should aim to book your flight after 5pm on Sunday September 4 if you are flying from Eindhoven and after 7pm if you are flying from other airports.</p>
          </div>
        </div>

        <div class="faq col-1-2 col-1-mobile">
          <div class="wrap">
            <h4>Where will I stay?</h4>
            <p>All Hackcon tickets include housing for two nights (Friday and Saturday). The rooms accommodate between 2 to 3 people and separated by gender. We purposely assign rooms so that you’ll be staying with organizers from other events so you can make new friends. If you have special rooms requests, please let us know after you purchase your tickets and we will try to accommodate them.</p>
          </div>
        </div>

        <div class="faq col-1-2 col-1-mobile">
          <div class="wrap">
            <h4>What is the format of the conference?</h4>
            <p>AWe will have a mix of sessions including talks, discussions and workshops for the morning and afternoon followed by fun activities in the evenings.</p>
          </div>
        </div>

        <div class="faq col-1-2 col-1-mobile">
          <div class="wrap">
            <h4>I’m a speaker, do I still need to buy a ticket?</h4>
            <p>We will be reimbursing travel and ticket prices for keynote speakers at Hackcon. If you buy a tickets and are later selected to speak, let us know and we’ll get you a refund.</p>
          </div>
        </div>

        <div class="faq col-1-2 col-1-mobile">
          <div class="wrap">
            <h4>I can’t go anymore, can I have a refund?</h4>
            <p>We’re sad you won’t be able to join us! You can get a full refund for your tickets before August 1st. After that, we won’t be able to refund you because we would have already paid for everything. You can transfer your ticket to someone else if you let us know ahead of the conference. </p>
          </div>
        </div>

        <div class="faq col-1-2 col-1-mobile">
          <div class="wrap">
            <h4>I’m under 18, can I still attend?</h4>
            <p>Yes! Underage students can attend if their parents sign a liability waiver. Unfortunately, if you are under 18 you can’t stay at the provided shared accommodation and you will need to find your own housing.</p>
          </div>
        </div>

        <div class="faq col-1-2 col-1-mobile">
          <div class="wrap">
            <h4>Is there a code of conduct?</h4>
            <p>We want to make sure that Hackcon EU creates a safe and inspirational environment for attendees, speakers and sponsors. For this reason we will be following the <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a> throught the duration of the conference.</p>
          </div>
        </div>

        <div class="faq col-1-2 col-1-mobile">
          <div class="wrap">
            <h4>What will I eat during Hackcon EU?</h4>
            <p>Meals, snacks and drinks are included in your Hackcon EU ticket. We can accommodate for special dietary restrictions if you let us know in advance.</p>
          </div>
        </div>

        <div class="faq col-1-2 col-1-mobile">
          <div class="wrap">
            <h4>Who organizes Hackcon EU?</h4>
            <p>Hackcon EU is organized by <a href="http://mlh.io">Major League Hacking</a> and a special group of volunteers.</p>
          </div>
        </div>

      </div>

      <p style="text-align: center;">Have a question that we didn't answer here? <a href="mailto:team@hackcon.io">Drop us a line</a>.</p>
    </div>
  </div>
</section>

{% include footer.html %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ '/js/script.js' | prepend: site.baseurl }}"></script>
